In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv('../data_archive/cars93_complete_dataset.tsv', sep='\t')
dataset = 'cars93'
df = pd.read_csv(f'../data/{dataset}/complete_dataset.tsv', sep='\t')

In [3]:
df.shape

(1585, 11)

In [8]:
df[['Sales', 'Rank', 'Profits', 'Assets', 'label_num']].corr()

              Sales      Rank   Profits     Sales    Assets  label_num
Sales      1.000000 -0.499908  0.601531  1.000000  0.362493   0.651211
Rank      -0.499908  1.000000 -0.433046 -0.499908 -0.323097  -0.540831
Profits    0.601531 -0.433046  1.000000  0.601531  0.370796   0.788079
Sales      1.000000 -0.499908  0.601531  1.000000  0.362493   0.651211
Assets     0.362493 -0.323097  0.370796  0.362493  1.000000   0.378868
label_num  0.651211 -0.540831  0.788079  0.651211  0.378868   1.000000

In [11]:
# Forbes
df['corr_feat'] = pd.qcut(df['Sales'], q=3, labels=["low", "medium", "high"])

In [14]:
# Cars 93
df['corr_feat'] = pd.qcut(df['Horsepower'], q=3, labels=["low", "medium", "high"])

KeyError: 'Horsepower'

In [ ]:
# Auto MPG
df['corr_feat'] = pd.qcut(df['Horsepower'], q=3, labels=["low", "medium", "high"])

In [36]:
df.columns

Index(['id', 'car', 'Type', 'Minimum_Price', 'Midrange_Price',
       '_label_Maximum_Price', 'City_MPG', 'Highway_MPG', 'Air_Bags',
       'Drive_train', 'Number_of_cylinders', 'Engine_size', 'Horsepower',
       'RPM', '_Engine_revolutions_per_mile', '_Manual_transmission_available',
       'Fuel_tank_capacity', 'Passenger_capacity', 'Length', 'Wheelbase',
       'Width', 'U-turn_space', 'Rear_seat_room', 'Luggage_capacity',
       'Weight_', 'Domestic'],
      dtype='object')

In [ ]:
df['uri'].value_counts()

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.sort_values(by='uri')

In [57]:
df.head(5)

,FICE,College_name,State,Type,Average_salary_full_professors,Average_salary_associate_professors,Average_salary_assistant_professors,Average_salary_all_ranks,Average_compensation_full_professor,Average_compensation_associate_professors,Average_compensation_assistant_professors,Average_compensation_all_ranks,Number_of_full_professors,Number_of_associate_professors,Number_of_assistant_professors,Number_of_instructors,Number_of_faculty_all_ranks,uri,label,label_comp,id
0,1061.0,Alaska Pacific University,AK,IIB,454,382,362.0,382.0,567,485,471.0,487.0,6.0,11.0,9.0,4.0,32.0,http://dbpedia.org/resource/Alaska_Pacific_Uni...,medium,medium,1.0
1,1063.0,University of Alaska-Fairbanks,AK,I,686,560,432.0,508.0,914,753,572.0,677.0,74.0,125.0,118.0,40.0,404.0,http://dbpedia.org/resource/University_of_Alas...,high,high,2.0
2,1065.0,University of Alaska-Southeast,AK,IIA,533,494,329.0,415.0,716,663,442.0,559.0,9.0,26.0,20.0,9.0,70.0,http://dbpedia.org/resource/University_of_Alas...,medium,medium,3.0
3,11462.0,University of Alaska-Anchorage,AK,IIA,612,507,414.0,498.0,825,681,557.0,670.0,115.0,124.0,101.0,21.0,392.0,http://dbpedia.org/resource/University_of_Alas...,medium,high,4.0
4,1004.0,University of Montevallo,AL,IIA,441,385,310.0,388.0,542,473,383.0,477.0,57.0,33.0,35.0,2.0,127.0,http://dbpedia.org/resource/University_of_Mont...,medium,medium,5.0

In [56]:
df.columns

Index(['FICE', 'College_name', 'State', 'Type',
       'Average_salary_full_professors', 'Average_salary_associate_professors',
       'Average_salary_assistant_professors', 'Average_salary_all_ranks',
       'Average_compensation_full_professor',
       'Average_compensation_associate_professors',
       'Average_compensation_assistant_professors',
       'Average_compensation_all_ranks', 'Number_of_full_professors',
       'Number_of_associate_professors', 'Number_of_assistant_professors',
       'Number_of_instructors', 'Number_of_faculty_all_ranks', 'uri', 'label',
       'label_comp', 'id'],
      dtype='object')

In [63]:
# Define aggregation functions
aggregations = {
    'Average_salary_full_professors': 'mean',  # Mean for numeric columns
    'Average_salary_associate_professors': 'mean',
    'Average_salary_assistant_professors': 'mean',
    'Average_salary_all_ranks': 'mean',
    'Average_compensation_full_professor': 'mean',
    'Average_compensation_associate_professors': 'mean',
    'Average_compensation_assistant_professors': 'mean',
    'Average_compensation_all_ranks': 'mean',
    'Number_of_full_professors': 'mean',
    'Number_of_associate_professors': 'mean',
    'Number_of_assistant_professors': 'mean',
    'Number_of_instructors': 'mean',
    'Number_of_faculty_all_ranks': 'mean',
    'FICE': lambda x: x.mode().iloc[0],  # Mode for string column
    'College_name': lambda x: x.mode().iloc[0],  # Mode for string column
    'State': lambda x: x.mode().iloc[0],  # Mode for string column
    'label': lambda x: x.mode().iloc[0],  # Mode for string column
    'label_comp': lambda x: x.mode().iloc[0],  # Mode for string column
    'Type': lambda x: x.mode().iloc[0]  # Mode for string column
}

num_cols = [
       'Average_salary_full_professors', 'Average_salary_associate_professors',
       'Average_salary_assistant_professors', 'Average_salary_all_ranks',
       'Average_compensation_full_professor',
       'Average_compensation_associate_professors',
       'Average_compensation_assistant_professors',
       'Average_compensation_all_ranks', 'Number_of_full_professors',
       'Number_of_associate_professors', 'Number_of_assistant_professors',
       'Number_of_instructors', 'Number_of_faculty_all_ranks']

for col in num_cols:
    df[col] = pd.to_numeric(df[col],errors='coerce')

# Apply aggregation functions
df = df.groupby(by='uri').agg(aggregations)

In [46]:
df['label'] = df['mpg_label']
q = df['label'].quantile([0.33, 0.66, 1])
print(q)
df['label_num'] = df['label']

df.loc[df['label_num'] <= q.values[0], 'label'] = 'low'
df.loc[(df['label_num'] > q.values[0]) & (df['label_num'] <= q.values[1]), 'label'] = 'medium'
df.loc[df['label_num'] > q.values[1], 'label'] = 'high'

0.33    17.8175
0.66    24.6296
1.00    39.1000
Name: label, dtype: float64

/var/folders/2s/kn779x950tb67swhnt50znnm0000gn/T/ipykernel_1815/235010656.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'low' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['label_num'] <= q.values[0], 'label'] = 'low'

In [47]:
df['label'].value_counts()

label
high      41
low       40
medium    39
Name: count, dtype: int64

In [65]:
df.to_csv('../data/aaup/complete_dataset.tsv', sep='\t')

In [3]:
def get_random_target(x):
    options = [target for target in set(df['label'].values) if target != x]
    return np.random.choice(options)

In [8]:
from scipy.stats import chi2_contingency
datasets = ['forbes', 'aaup', 'auto_mpg', 'cars93']
for dataset in datasets:
    df = pd.read_csv(f'../data/{dataset}/complete_dataset.tsv', sep='\t')
    df['corr_feat'] = df['label']
    df['corr_feat'] = df['corr_feat'].apply(lambda x: x if np.random.rand() > 0.8 else get_random_target(x))
    # Cross tabulation between GENDER and APPROVE_LOAN
    CrosstabResult=pd.crosstab(index=df['label'],columns=df['corr_feat'])
    print(CrosstabResult)
        
    # Performing Chi-sq test
    ChiSqResult = chi2_contingency(CrosstabResult)
    
    # P-Value is the Probability of H0 being True
    # If P-Value&gt;0.05 then only we Accept the assumption(H0)
    
    print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

    # Introduce missing values
    missing_indices = np.random.choice(df.index, size=int(len(df) * 0.1), replace=False)
    df.loc[missing_indices, 'corr_feat'] = np.nan

    df.to_csv(f'../data/{dataset}/complete_dataset_corr_feat_less_less.tsv', sep='\t')

corr_feat  high  low  medium
label
high         12   27      27
low         296  140     302
medium      309  324     148
The P-Value of the ChiSq Test is: 2.630576116268303e-28
corr_feat    I  IIA  IIB
label
I           37   45   69
IIA        107   56  109
IIB        208  199  103
The P-Value of the ChiSq Test is: 2.237449707094083e-13
corr_feat  high  low  medium
label
high          7   16      18
low          16    6      18
medium       13   18       8
The P-Value of the ChiSq Test is: 0.006582053882244355
corr_feat  high  low  medium
label
high          3   10      19
low          12    6      13
medium       11   14       5
The P-Value of the ChiSq Test is: 0.002169214563326059

In [5]:
df['corr_feat'] = df['label']
df['corr_feat'] = df['corr_feat'].apply(lambda x: x if np.random.rand() > 0.1 else get_random_target(x))

In [12]:
# Cross tabulation between GENDER and APPROVE_LOAN
CrosstabResult=pd.crosstab(index=df['label'],columns=df['corr_feat'])
print(CrosstabResult)
 
# importing the required function
from scipy.stats import chi2_contingency
 
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)
 
# P-Value is the Probability of H0 being True
# If P-Value&gt;0.05 then only we Accept the assumption(H0)
 
print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

# Introduce missing values
# missing_indices = np.random.choice(df.index, size=int(len(df) * 0.1), replace=False)
# df.loc[missing_indices, 'corr_feat'] = np.nan

corr_feat  low  medium  high
label
high         0       2    64
low        334     270   134
medium     205     247   329
The P-Value of the ChiSq Test is: 1.2114486962408402e-49

In [13]:
df.to_csv(f'../data/{dataset}/complete_dataset_real_corr_feat.tsv', sep='\t')

In [2]:
from rdflib import Graph, Namespace, URIRef, Literal
import os

# datasets = ['forbes', 'aaup', 'auto_mpg', 'cars93']
# datasets = ['cars93']
datasets = ['aaup']
# query_types = ['full', 'simple']
query_types = ['full']
# mods = ['', 'attribute_corr', 'property_corr', 'property_corr_less', 'property_corr_less_less', 'class_corr', 'class_corr_less', 'class_corr_less_less']
mods = ['']

for dataset in datasets:
    print('Dataset:', dataset)
    for query_type in query_types:
        print('Query type:', query_type)
        for mod in mods:
            print('Mod:', mod if mod != '' else 'None')
            g = Graph()
            if os.path.exists(f'../data/{dataset}/{query_type}_query_{mod}mod/graph.owl'):
                g.parse(f'../data/{dataset}/{query_type}_query_{mod}mod/graph.owl')
                
                # Query to count the number of distinct properties
                query = """
                SELECT (COUNT(DISTINCT ?p) AS ?distPropertyCount) (COUNT(?p) AS ?propertyCount)
                WHERE {
                    ?s ?p ?o.
                }
                """

                # Execute the query
                result = g.query(query)

                # Print the result
                for row in result:
                    print(f"Number of properties: {row.propertyCount}")
                    print(f"Number of distinct properties: {row.distPropertyCount}")

                # query = """
                # SELECT (COUNT(DISTINCT ?entity) AS ?entityCount)
                # WHERE {
                #     { ?entity ?p ?o }
                #     UNION
                #     { ?s ?p ?entity }
                # }
                # """

                # # Execute the query
                # result = g.query(query)

                # # Print the result
                # for row in result:
                #     print(f"Number of distinct entities: {row.entityCount}")

            else:
                print('None')
            print('')

Dataset: aaup
Query type: full
Mod: None
Number of properties: 141599
Number of distinct properties: 578